/* General styles for the body and headings */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

/* Styles for the login form */
#loginForm {
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Styles for the "Log out" button */
#logoutBtn {
    padding: 10px 20px;
    background-color: #ff0000; /* Change the background color to red */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#logoutBtn:hover {
    background-color: #dd0000; /* Hover color (darker red) */
}

/* Styles for the homepage */
#homepage {
    background-color: #fff;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

h2 {
    color: #333;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    font-weight: bold;
}

#result {
    color: #333;
    font-size: 18px;
}

#homepage button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#homepage button:hover {
    background-color: #555;
}
